/*contenido*/
p, ul {
	font-size: $genFntSze;
}

#pic {
	float: right;
	margin-top: -28px;
}

h1.fn {
	padding-bottom: 5px;
}

.fn {
	border-bottom: 2px solid $anchrColor;
}

a.email {
	color: $anchrColor;
	text-decoration: none;
	border-bottom: 1px dotted $anchrColor;
}

#objective, span.experience { 
	color: $anchrColor;
	font-family: helvetica;
}

dl.infoContainer {
	display: inline-block;	
	margin: 25px 45px;
}

dt.heading {
	display: inline-block;
	font-size: $hdngFntSize;
}

dd {
	padding-left: 20px;
	border-width: 2px;
	border-left-style: solid;
	border-color: $anchrColor;
	position: relative;
	bottom:22px;
	left:65px; 	
}
	
h2.tittles {
	display: inline;
	font-family: arial, serif;
	font-size: $hdngFntSize;
}

span.experience {
	font-size: $spanFntSze;
	margin-left: 120px;
}
