nav {

	background-color: $nav-bckgrnd;
	border-bottom: 3px solid $darker-gray;
	border-radius: 25px;
	float: right;
	height: 50px;
	margin: 40px 100px 0 0;
	width: 40.62%;	
	& a {
		color: $nav-anchor;
		margin: 0 20px;	
	}
}

.featureArea {

	background-color: $feature-area-bckgrnd;
	color: $darkest-gray;
	clear: both;
	height: 411px;
	position: relative;
	& img {
		margin: 115px 0 0 130px;
	}
	& p {
		text-align: justify;
		padding: 35px;
	}
}

.gallery {

	background-color: $gallery-bckgrnd;
	height: 510px;
	margin: 0 auto;
	position: relative;
	width: 82.96%;
	& img{
		padding: 30px;
		position: inherit;
	}
}

.design {

	float: left;
	height: 90px;
	width: 100%; 
	& p {
		color: $design-fontcolor;
		margin-top: 60px;
	}
	& img {
		padding:0 640px; 
	}
}