//own description section

.whoWeAre {
	background-color: $us-description-bckgrnd;
	color: $us-description-fontcolor;
	float: right;
	height: 411px;
	position: inherit;
	width: 510px;
}

button {
	background-color: $button-bckgrnd;
	border-radius: 10px;
	margin: 28px 0 0 35px;
	padding: 16px 20px;
}