// generalyties

.wrapper {
	background-color: $bckgrnd;
	margin: 0 auto;
	width: 1280px;
}

.header{	
	background-color: $header-line;
	height: 10px; 
}

a {
	color: $anchors-fontcolor;
	text-decoration: none;
}

h1, h2{
	font-size: $gen-font-size;
}