// slider config

.widget {
	color: $widget-fontcolor;
	padding-left: 200px;
	position: relative;
	top: -265px;
	width: 450px;
}

.widgetImg {
	margin: -260px 0px 0px 550px;
	/*position: relative;*/
}

.rightArrow, .leftArrow, .moreDots{
	position: relative;
}

.rightArrow {
	top: 40px;
	left: -100px;
}

.leftArrow { 
	top: 40px;
	right: -945px;
}

.moreDots {
	right: -350px;
	top: 215px;
}