// descriptive variables
$white: #fff;
$darken-brown: #664735;
$light-brown: #826251;
$light-gray: #e8e8e8;
$lighter-gray: #f2f2f2;
$darker-gray:#9d9c9c;
$medium-gray: #a2a1a2;
$lighter-brown: #845f51;
$dark-white: #efeceb;
$pink: #f3b9b9;
$darkest-gray: #666;

// functional variables
$bckgrnd: $white;
$header-line: $darken-brown;
$anchors-fontcolor: $light-brown;
$gen-font-size: 16px;
$menu-bckgrnd: $light-gray;
$nav-bckgrnd: $lighter-gray;
$nav-anchor: $darker-gray;
$widget-fontcolor: $medium-gray; 
$service-area-color: $medium-gray;
$feature-area-bckgrnd: $lighter-brown;
$us-description-bckgrnd: $darken-brown;
$us-description-fontcolor: $white; 
$button-bckgrnd: $dark-white;
$imageGallery-color: $medium-gray;
$gallery-bckgrnd: $pink;
$footer-bckgrnd: $darken-brown;
$contact-fontcolor: $white; 
$design-fontcolor: $darkest-gray;