$bgkColor: #fff;
$bgkWidth: 1024px;
$anchrColor: #fff;
$navFntSze: 14px;
$margBottom: 10px;
$margLeft: 35px;
$textTransf: uppercase;
$anchrHover: #f2d13e;
$hsFontSize: 20px; 
$h1Color: #3498db; 
$height: 155px;
$widthReused: 305px;
$padding: 10px;
$prfColor: #000;
$prfFontSize: 18px;
$snglWidth: 317px;